.portfolio {
    padding-top: 120px;

    &__wrapper {
        margin-top: 60px;
        display: flex;
        direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
                
        .below {
            margin-top: 50px;
        }
        .heading {
            font-size: 23px;
            text-align: center;
            color: black;
            font-weight: 700px;
        }
    }

    &__item {
        transition: all 0.4s;
        img {
            width: 270px;
            height: 270px;
            object-fit: cover;
        }
        &:hover {
            transform: scale(1.02);
            filter: grayscale(50%);
        }
    }
}
